body
{
    font-family: 'Dosis', sans-serif;
    background-color:#e5e5ff;
}


.row-margin
{
  margin-bottom: 15em;
}

#timpic
{
  box-shadow: 10px 10px 5px rgba(204, 204, 204, 0.9);
  margin: auto;
}

.icon-center
{
  font-size: 1.5em;
}

h1
{
  font-size: 5em;
  font-weight: 500;
  color: #445fa4;
}

h2
{
  color: darkgoldenrod;
}

p
{
  font-size: 1.5em;
}

.custom-align
{
  text-align: center;
}

.navback
{
  /*background-color: rgba(179, 179, 255, 0.5)*/
  background: linear-gradient(to right,#e5e5ff,rgba(179, 179, 255, 0.5),#e5e5ff);

}

li
{
  color: #445fa4;
}

.nav>li>a:hover
{
  color: darkgoldenrod; 
  background-color: rgba(179, 179, 255, 0.1) ;
  text-shadow: 0.5px 0.5px 0.5px #F0C250;
}

nav
{
  font-size: 1.5em;
  margin: 0 auto;
  display: table;
}

#icon-space
{
  margin-left: 10px; 
  margin-right: 10px; 
}

.link-change a
{
  color: darkgoldenrod;
  font-size: 1.5em;  
  font-weight: bold;
}

.link-change li
{
  margin-bottom: 1.5em;
}

#this
{
  font-weight: normal;
  font-size: 1em;
}
